* {
    margin: 0;
    padding: 0;
    font-size: 100.01%;
}

html {
    min-width: 1000px;
}

div {
    display: block;
}

body {
    min-height: 100%;
    height: 100%;
    color: #4a4a4a;
    font-weight: normal;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 12px;
    line-height: 1.4;
    /* background: url(bg.jpg) 0 40px repeat-x #e5e2e2;*/
}

#page {
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
}

.head_line {
    height: 40px;
    background: #00008b;
}

div.head_line > div {
    height: 40px;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans Bold', sans-serif;
    line-height: 1;
    text-shadow: 1px -1px 0 #992910;
}

.wrp_ctr {
    width: 980px;
    padding: 0 9px;
    margin: 0 auto;
}

.head_text {
    text-align: center;
}

#header {
    min-height: 180px;
    position: relative;
    background-color: #2F72A0;
}

.login_block {
    background: #fff;
    border: 0;
    border-top: 0;
    padding: 10px 10px 11px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 150px;
    background-color: #2F72A0;
}

.main_menu {
    height: 54px;
    background: #2F72A0;
    border-bottom: 4px solid white;
    margin: 4px 0 0;
}

dl.main_menu dt {
    float: left;
    height: 54px;
    cursor: pointer;
}

dl.main_menu dt a {
    display: block;
    float: left;
    padding: 0 15px;
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    color: #2F72A0;
    text-decoration: none;
}

dl.main_menu dt.selected {
    position: relative;
}

dl.main_menu dt.selected a {
    color: #003366;
}

#maincontent {
    margin-bottom: 25px;
    min-height: 500px;
    color: #2F72A0;
}

a.logo {
    display: block;
    width: 200px;
    height: 201px;
    position: absolute;
    top: -21px;
    left: 0px;
    background: url(/img/exadel.png) 0 0 no-repeat;
}

.left_panel {
    width: 20%;
    float: left;
    min-height: 400px;
    background: #fff;
    text-align: center;
}

/*fix*/
.content {
    float: left;
    width: 79%;
    border-top: 25px solid #2F72A0;
    border-left: 2px solid grey;
    /* border-right: 2px solid grey;*/
    min-height: 500px;
    margin: 0;
    padding: 0;
}

dt a {
    text-decoration: none;
    cursor: pointer;
}

dt a strong {
    font-family: 'PT Sans Bold';
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 21px;
    width: 180px;
    display: block;
    position: relative;
    z-index: 1000;
    background-color: #2F72A0;
}

dt.elem {
    width: 180px;
    height: 266px;
    padding: 10px 15px 15px;
    float: left;
    background: #fff;
    margin: 0 20px 0 0;
    /*border-top: 24px solid;*/
    position: relative;
}

dt.elem a span {
    font-size: 11px;
    color: white;
    z-index: 1000;
    position: absolute;
    top: -19px;
    font-weight: normal !important;
    text-align: left;
    width: 205px;
}

dt.clear {
    height: 22px;
    float: none;
    line-height: 22px;
    clear: both;
    width: 100%;
    padding: 0;
    background: none;
    border: 0;
}

.left_foot {
    width: 20%;
    height: 20px;
    float: left;
}

.right_foot {
    float: left;
    background: #2F72A0;
    height: 20px;
    width: 80%;
}

/*by Max*/
#navigation {
    font-size: 0.9em;

    width: 180px;
}

#navigation ul {
    margin: 0px;
    padding: 0px;
}

#navigation li {
    list-style: none;
}

ul.top-level {
    background: #666;
}

ul.top-level li {
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}

#navigation a {
    color: #fff;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
    width: 100%;
}

#navigation a:hover {
    text-decoration: underline;
}

#navigation li:hover {
    background: #f90;
    position: relative;
}

/*???*/
#header .login_block div a {
    text-align: right;

}